<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Isomorphic with React Tutorial by SiamHTML</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="http://connect.facebook.net/en_US/all.js"></script>
</head>
<body>
	<script type="text/javascript">
		
	</script>
	<div id="fb-root"></div>
	<div class="container">
		<div id="facebook" class="pull-right" style="margin-top:15px;"></div>
		<div class="page-header">
			<h4>W E B · A N I M A L</h4>
		</div>
	    <div id="content">{{{markup}}}</div>
	</div>
    <script src="js/bundle.js"></script>
</body>
</html>