<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>W E B · A N I M A L b y T a n o p w a n</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://localhost:3000/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://localhost:3000/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css">
	<link rel="stylesheet" href="http://localhost:3000/css/webanimal.css">

	<!-- library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<script src="http://localhost:3000/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="http://localhost:3000/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>

	<script src="http://connect.facebook.net/en_US/all.js"></script>
</head>
<body>
	<script type="text/javascript">
		
	</script>
	<div id="fb-root"></div>
	<div class="container">
		<div id="facebook" class="pull-right" style="margin-top:15px;"></div>
		<div class="page-header">
			<h3>W E B · A N I M A L</h3>
		</div>
	    <div id="content">{{{markup}}}</div>
	</div>
    <script src="http://localhost:3000/js/bundle.js"></script>
</body>
</html>